.home {
  width: 100%;
  min-height: 88vh;
  padding-top: 5rem;
  position: relative;
  z-index: 5;
}

.home .introtext {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home .introtext h1 {
  /* max-width: 600px; */
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.home .introtext p {
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  line-height: 3;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
}
.registerbtn {
  width: 100px;
  height: 40px;
  border-radius: 45px;
  background: transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
  border: 3px solid rgba(220, 70, 6, 1);
  font-weight: 100;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.registerbtn:hover{
  background: rgba(220, 70, 6, 1);
}
